<div class="container">
    <% if @len == 0 %>
        <%= link_to('Populate', populate_home_index_path, :method => :post,  :class =>"btn btn-primary")%>
    <% else %>
        <%= render(:partial => "assassins", :locals => {:all => @all, :alive => @numAlive})%>
    <% end %>
</div>