// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background-color: #ececec !important;
}

.text-centered {
    text-align: center;
}

.notice {
    border-bottom: 1px solid rgb(22, 141, 31) !important;
}

.alert {
    border-bottom: 1px solid rgb(195, 10, 10) !important;
}

form {
    width: 250px;
    margin: 10px auto;
}

input {
    display: block;
    margin: 5px auto !important;
}

label {
    width: 100%;
    text-align: center;
}

.spacer {
    padding: 30px;
}

.page-header {
    border-bottom: 1px solid white !important;
}

.assassin-card {
    padding: 10px;
    border: 1px solid #333;
    margin: 10px;
    min-height: 220px;
    border-radius: 4px;
}

.assassin-card-killed {
    color: white;
    border: 1px solid white;
    background-color: rgb(195, 10, 10);
}

.action-button {
    padding: 10px 0px;
    text-align: center;
}

.black-box {
    color: white;
    background-color: #333;
    padding: 3px;
}

.kill-button {
    border-top: 1px solid #333;
}

.kill-button:hover {
    cursor: pointer;
    background-color: rgb(195, 10, 10);
    color: white;
}

.revive-button {
    border-top: 1px solid white;
}

.revive-button:hover {
    cursor: pointer;
    background-color: rgb(22, 141, 31);
    color: white;
}

.hour-header {
    padding: 10px;
    border-top: 1px  solid #333;
}