// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background-color: #ececec !important;
}

.text-centered {
    text-align: center;
}

.notice {
    border-bottom: 1px solid rgb(22, 141, 31) !important;
}

.alert {
    border-bottom: 1px solid rgb(195, 10, 10) !important;
}

form {
    width: 250px;
    margin: 10px auto;
}

input {
    display: block;
    margin: 5px auto !important;
}

label {
    width: 100%;
    text-align: center;
}

.spacer {
    padding: 30px;
}

.page-header {
    border-bottom: 1px solid white !important;
}

.assassin-card {
    position: relative;
    padding: 0px;
    border: 1px solid #444;
    display: block;
    margin: 10px auto;
    max-width: 250px;
    min-height: 175px;
}

.id {
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 3px 7px;
    margin: 0px;
    color: white;
    background-color: #444;
}

.name {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    margin-top: 5px;
}

.assassin-card-killed {
    color: #333;
    opacity: .5;
}

.action-button {
    padding: 10px 0px;
    text-align: center;
}

.black-box {
    color: white;
    background-color: #444;
    padding: 3px;
}

.kill-button:hover {
    cursor: pointer;
    background-color: rgb(157, 8, 8);
    color: white;
}

.revive-button:hover {
    cursor: pointer;
    background-color: rgb(22, 141, 31);
    color: white;
}

.hour-header {
    padding: 5px;
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-top: 50px !important;
    }
    
    li > a {
        text-align: center;    
    }
}

a:focus {
    outline: inherit !important;
}

.reset-box {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
}

.btn-primary {
    margin: 15px auto !important;
    display: block !important;
    max-width: 100px !important;
}